<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pi-wifi-connector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
</head>
<body>
<!-- Start your code here -->

  <header>
    <h1 class="title">
      Manage Raspberry Pi wi-fi connection
    </h1>
  </header>
  
  <main>
    <section id="connect-box">
      <h2 class="section-title">Connect your device with wi-fi network ...</h2>
      <form method="post">

        <div class="networks-list">

          <ul>
            <li>
              <input id="pierwsza_siec" type="radio" name="ssid" checked="checked"/>
              <label for="pierwsza_siec">pierwsza_siec</label>
            </li>
            <li>
              <input id="inna" type="radio" name="ssid" checked="checked"/>
              <label for="inna">inna</label>
            </li>
            <li>
              <input id="siec o nieco przydlugiej nazwie" type="radio" name="ssid" checked="checked"/>
              <label for="siec o nieco przydlugiej nazwie">siec o nieco przydlugiej nazwie</label>
            </li>
          </ul>

        </div>

        <div class="password">
          <h3 class="password-title">Password:</h3>
          <input type="password" name=""="password"/>
        </div>

        <div class="submit">
          <input type="submit" value="Connect!">
        </div>

      </form>
    </section>

    <section id="disconnect-box">
      <h2 class="section-title">or disconnect it and return to hotspot mode.</h2>
      <a href="www.google.com">
        <button id="disconnect-button">Go offline!</button>
      </a>
    </section>
  </main>
  
  <footer>
    Created by Norbert Chmiel
  </footer>

<!-- End your code here -->
</body>
</html>
